.screen-top {
  background-color: #1c1e24;
  height: 15px;
  display: flex;
  font-size: 10px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  position: sticky;
  top: 0;
}
.top-icons {
  margin-right: 2px;
  margin-left: auto;
  height: 10px;
  position: inherit;
}

/* msg css */

.msg-window {
  font-family: Roboto, sans-serif;
  margin-top: 10px;
  width: 350px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #1a1c22;
  color: white;
  position: relative;
}
.header-msg {
  background-color: #252830;
  padding-top: .6em;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: sticky;
  top: 15px;
  overflow-x: inherit;
 scrollbar-gutter: inherit;
}
.msg-header-content {
  margin-bottom: 10px;
  align-content: center;
  max-height: 20px;
}
.msg-header-text {
  margin-bottom: 10px;
  align-content: center;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
.msg-footer {
  background-color: #252830;
  height: 50px;
  margin-top: auto;
  align-content: center;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  overflow-x: inherit;
  position: absolute;
  bottom: 0;
}
.msg-footer-sticky {
  background-color: #252830;
  height: 50px;
  margin-top: auto;
  align-content: center;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  position: sticky;
  bottom: 0;
  overflow-x: inherit;
}
.msg-footer-text {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  align-content: center;
  width: 100%;
  border-radius: 1em;
  background-color: #3f434d;
  color: #b5b5b5;
}
.msg-footer-content {
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  max-height: 30px;
}
.msg-third {
  width: fit-content;
  border-radius: 1em;
  background-color: #3f434d;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .4em;
  padding-bottom: .4em;
  margin-left: .5em;
}
.msg-first {
  width: fit-content;
  border-radius: 1em;
  background-color: #103a96;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .4em;
  padding-bottom: .4em;
  margin-right: .5em;
  text-align: right;
  margin-left: auto;
}
.msg-first-begin {
  border-bottom-right-radius: 0;
}
.msg-first-center {
  margin-top: -13px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.msg-first-end {
  margin-top: -13px;
  border-top-right-radius: 0;
}
.msg-third-begin {
  border-bottom-left-radius: 0;
}
.msg-third-center {
  margin-top: -13px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.msg-third-end {
  margin-top: -13px;
  border-top-left-radius: 0;
}

/* lockscreen css */

.lockscreen {
  font-family: Roboto, sans-serif;
  width: 350px;
  min-height: 600px;
  background-color: #1a1c22;
  color: white;
  padding-bottom: 10px;
  position: relative;
}