.msg-window {
  font-family: Roboto, sans-serif;
  width: 350px;
  background-color: #1a1c22;
  color: white;
  padding-bottom: 10px;
}
.header-msg {
  background-color: #252830;
}
.msg-third {
  width: fit-content;
  border-radius: 1em;
  background-color: #3f434d;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .4em;
  padding-bottom: .4em;
  margin-left: .5em;
  margin-top: -2%;
}
.msg-first {
  width: fit-content;
  text-align: right;
  border-radius: 1em;
  background-color: #103a96;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .4em;
  padding-bottom: .4em;
  margin-right: .5em;
  text-align: right;
  margin-top: -2%;
}
.msg-first-begin {
  border-bottom-right-radius: 0%;
}
.msg-first-center {
  margin-top: -13px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
}
.msg-first-end {
  margin-top: -13px;
  border-top-right-radius: 0%;
}
.msg-third-begin {
  border-bottom-left-radius: 0%;
}
.msg-third-center {
  margin-top: -13px;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}
.msg-third-end {
  margin-top: -13px;
  border-top-left-radius: 0%;
}
.nel-header {
  padding-top: .6em;
  padding-bottom: .5em;
  text-align: center;
}